version: '2.1'

services:
  server:
    build:
      context: .
    command: python app.py
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
      - rabbit
    ports:
      - 5000:5000
  mongo:
    image: mongo
    volumes:
      - mongo_data:/var/lib/mongo
    ports:
      - 27017:27017
  redis:
    image: redis
    volumes:
      - redis_data:/var/lib/redis
    ports:
      - 6379:6379
  rabbit:
    image: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=user
    volumes:
      - rabbit_data:/var/lib/rabbit
    ports:
      - 5672:5672
volumes:
  mongo_data:
    driver: local
  redis_data:
    driver: local
  rabbit_data:
    driver: local